<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>프로그라피</title>
</head>

<body>
    <% include ./inc/nav.ejs%>
    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>
                        <form class="form-signin" method="post" action="/member">
                            <div class="form-label-group">
                                <input type="text" id="userID" name="userID" class="form-control" placeholder="userID"
                                    required autofocus>
                                <label for="userID">userID</label>
                            </div>
                            <hr>
                            <div class="form-label-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="password"
                                    required>
                                <label for="password">password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Login</button>
                            <a class="d-block text-center mt-2 small" href="#">Sign Up</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>